---
import Layout from "layouts/Layout.astro";
import Header from "components/header.astro";
import Icon from "components/icon.astro";
import nodemailer from "nodemailer";
import { cx } from "class-variance-authority";

export const prerender = false;

let emailSent = false;

const transporter = nodemailer.createTransport({
    host: "smtp.mail.yahoo.com",
    port: 465,
    secure: true,
    auth: {
        user: import.meta.env.SMTP_USER,
        pass: import.meta.env.SMTP_PASS,
    },
});

const errors: Record<"name" | "email" | "message", string | null> = {
    name: null,
    email: null,
    message: null,
};

const formState = {
    name: "",
    email: "",
    message: "",
};

if (Astro.request.method === "POST") {
    try {
        errors.name = null;
        errors.email = null;
        errors.message = null;
        const data = await Astro.request.formData();
        const name = String(data.get("name"));
        const email = String(data.get("email"));
        const message = String(data.get("message"));

        formState.name = name;
        formState.email = email;
        formState.message = message;

        if (!name.trim()) {
            errors.name = "Antes de enviar, qual é o seu nome?";
        }

        if (!email.trim()) {
            errors.email = "Preciso do seu e-mail para responder. 😅";
        }

        if (
            email.trim() &&
            /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(email) === false
        ) {
            errors.email = "Hmm... parece que seu e-mail não está correto. 🤔";
        }

        if (!message.trim()) {
            errors.message = "Mas e a mensagem? 😅";
        }

        if (Object.values(errors).some((error) => error !== null)) {
            throw new Error("Existem erros no formulário.");
        }

        transporter.sendMail({
            from: {
                name: "NASC.DEV",
                address: import.meta.env.SMTP_USER,
            },
            to: "João Nascimento <oi@nasc.dev>",
            subject: "nasc.dev - Contato de " + name,
            text: `Nome: ${name}\nE-mail: ${email}\nMensagem: ${message}`,
        });
        console.log("E-mail enviado com sucesso!");
        emailSent = true;
        formState.name = "";
        formState.email = "";
        formState.message = "";
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<Layout title="Contato">
    <Header />
    <script
        is:inline
        src="https://www.google.com/recaptcha/api.js"
        slot="header"></script>
    <div
        class="max-w-screen-md mx-auto px-8 py-10 pt-20"
        transition:name="container"
        transition:animate="slide"
    >
        <h1 transition:name="heading-1" class="antialiased text-2xl font-bold">
            Contato
        </h1>
        <form method="POST">
            <label
                for="name"
                class="grid [grid-template-columns:1fr_auto] mt-4 text-lg font-semibold"
            >
                Nome
                {
                    errors.name !== null && (
                        <span class="text-amber-600 text-sm ml-auto inline-flex items-center gap-2">
                            <Icon name="mail-warning" class="size-4" />{" "}
                            {errors.name}
                        </span>
                    )
                }
            </label>
            <input
                type="text"
                id="name"
                name="name"
                class={cx("w-full p-3 mt-1 border border-gray-300 rounded-md", {
                    "outline-amber-300 outline": errors.name !== null,
                })}
                placeholder="Como posso te chamar?"
                value={formState.name}
            />
            <label
                for="email"
                class="grid [grid-template-columns:1fr_auto] mt-4 text-lg font-semibold"
            >
                E-mail
                {
                    errors.email !== null && (
                        <span class="text-amber-600 text-sm ml-auto inline-flex items-center gap-2">
                            <Icon name="mail-warning" class="size-4" />{" "}
                            {errors.email}
                        </span>
                    )
                }
            </label>
            <input
                type="email"
                id="email"
                name="email"
                class={cx("w-full p-3 mt-1 border border-gray-300 rounded-md", {
                    "outline-amber-300 outline": errors.email !== null,
                })}
                placeholder="Seu melhor e-mail"
                value={formState.email}
            />
            <label
                for="message"
                class="grid [grid-template-columns:1fr_auto] mt-4 text-lg font-semibold"
            >
                Mensagem
                {
                    errors.message !== null && (
                        <span class="text-amber-600 text-sm ml-auto inline-flex items-center gap-2">
                            <Icon name="mail-warning" class="size-4" />{" "}
                            {errors.message}
                        </span>
                    )
                }
            </label>
            <textarea
                id="message"
                name="message"
                class={cx(
                    "w-full p-3 mt-1 border border-gray-300 rounded-md min-h-32",
                    {
                        "outline-amber-300 outline": errors.message !== null,
                    },
                )}
                placeholder="Insira sua mensagem aqui"
                >{formState.message}</textarea
            >
            <div class="flex flex-wrap items-center">
                <button
                    type="submit"
                    class="g-recaptcha mt-4 mr-4 text-xl text-white font-semibold antialiased bg-blue-600 p-3 px-4 rounded-md inline-block"
                    data-sitekey={import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY}
                    data-callback="onSubmit"
                    data-action="submit"
                >
                    Enviar
                </button>
                {
                    emailSent && (
                        <span class="flex flex-wrap items-center gap-2 mt-4 text-lg text-green-600">
                            <Icon name="mail-check" class="size-5" />
                            E-mail enviado com sucesso!
                        </span>
                    )
                }
            </div>
        </form>
    </div>
</Layout>
<script>
    import { MailCheck, MailWarning, createIcons } from "lucide";

    createIcons({
        icons: {
            MailCheck,
            MailWarning,
        },
    });
</script>
<script is:inline>
    function onSubmit(token) {
        fetch("/recaptcha", {
            method: "POST",
            body: JSON.stringify({ recaptcha: token }),
        })
            .then((response) => response.json())
            .then((gResponse) => {
                if (gResponse.success) {
                    const form = document.querySelector("form");
                    form.submit();
                } else {
                    alert("Ocorreu um erro ao enviar o formulário.");
                }
            });
    }
</script>
